<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Visit Detail</title>
</head>
<body>
<h2>Visit Information</h2>


<table class="table table-striped">
    <tr>
        <th>Date</th>
        <td><b th:text="${visit.date}"></b></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${visit.description}"></td>
    </tr>
    <tr>
        <th>Pet</th>
        <td th:text="${visit.pet.name}"></td>
    </tr>


</table>
<a th:href="@{'/owners/'+${ownerId}+'/pets/'+${petId}+'/visits/'+${visit.id}+'/edit'}"
   class="btn btn-default">Edit
    Visit</a>
</body>
</html>