<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owner Detail</title>
</head>
<body>
<h2>Owner Information</h2>


<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td><b th:text="${owner.firstName + ' ' + owner.lastName}"></b></td>
    </tr>
    <tr>
        <th>Address</th>
        <td th:text="${owner.address}"></td>
    </tr>
    <tr>
        <th>City</th>
        <td th:text="${owner.city}"></td>
    </tr>
    <tr>
        <th>Telephone</th>
        <td th:text="${owner.telephone}"></td>
    </tr>
</table>

<a th:href="@{'/owners/'+${owner.id}+'/edit'}" class="btn btn-default">Edit
    Owner</a>
<a th:href="@{'/owners/'+${owner.id}+'/pets/new'}" class="btn btn-default">Add
    New Pet</a>

<br/>
<br/>
<br/>
<h2>Pets List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 150px;">Birth Date</th>
        <th style="width: 150px;">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet : ${owner.pets}">
        <td>
            <a th:href="@{'/owners/'+${owner.id}+'/pets/'+${pet.id}}" th:text="${pet.name}"/></a>

        </td>
        <td th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${pet.petType.name}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>